.make-row {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

#previous-search {
    display: flex;
    flex-direction: column; 
}
#previous-search button {
    margin: 3px;
}
#single-day-display {
    display: flex;
    flex-direction: column;
}