.make-row {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

#display-search {
    display: flex;
    flex-direction: column;
}

#single-day-display {
    display: flex;
    flex-direction: column;
}